#head{
    width:1540px;
    height:190px;
    background:skyblue;
}
#head-con{
    width:1240px;
    height:190px;
    margin: 0 auto;
    background: pink
}
#head-top{
    height:30px;
}
#head-info{
    height:100px;
    ba
}
