/* 头部 */
#head{
    width:1540px;
    height:130px;
    background:skyblue;
}
#head-con{
    width:1300px;
    height:130px;
    margin: 0 auto;
    background: pink
}
#head-top{
    height:30px;
}
#head-info{
    height:100px;
    background: #0e0e0f;
    position: relative;  
}
#head-info img{
    margin:10px 30px 0 10px
}
#head-info #search{
    width:240px;
    height:40px;
    border-radius: 20px;
    position: absolute;
    right:260px;
    top:35px;
    display: inline-block
}
#head-info input{
    outline: none;
    width:240px;
    height:40px;
    border-radius: 20px; 
    background: #242424 ;
    border: none;
    text-indent: 50px;
    color: #fff
}
#head-info .icon-s{
    width:40px;
    height:40px;
    display: inline-block;
    background: url(../img/xuebi1.png) -32px -220px;
    position: absolute;
    margin-left:10px
   
}


#head-info .icon-d{
    width:25px;
    height:25px;
    display: inline-block;
    background: url(../img/xuebi1.png) 2px -275px;
    margin-right:5px
}
#head-info .icon-g{
    width:25px;
    height:25px;
    display: inline-block;
    background: url(../img/xuebi1.png) -3px -61px;
    margin-right:5px
}
#denglu,#gouwu{
    display: inline-block;
    height:30px;
    color: #fff;
    position: absolute;
    top:38px;
}
#denglu a,#gouwu a{
    font-size: 16px;
    color: #fff;
}
#denglu{
    right:116px;
}
#gouwu{
    right:5px
}




/* 导航 */
#nav{
    width:1540px;
    height:60px;
    background:palegoldenrod;
    border-top:2px solid #191919;
    position: relative
}
#nav-con{
    width:1300px;
    height:60px;
    margin: 0 auto;
    background: #0e0e0f;  
}
#nav-con>ul li{
    float: left;
    font-size: 16px;
    color: #9c9d98;
    padding: 17px 35px;
}
#nav-con>ul li:hover{
    border-bottom: 5px solid #DAA520
}

#nav-con span{
    font-size: 16px;
    line-height: 58px;
    color: #fff;
    float:right;
    cursor: pointer;
}
#nav-con span i{
    width:12px;
    height:14px;
    display: inline-block;
    margin:0 10px;
    background: url(../img/xuebi1.png) -100px -2px; 
}
#sub-nav{
    position: absolute;
    top:60px;
    width:100%;
    height:295px;
    background: #DAA520
}
#sub-nav


 

/* 轮播图 */
#banner{
    width:1540px;
    height:420px;
      
}

